@import '../../../assets/styles/colors.scss';
.navbarCustom {
  background-color: #262431;
  box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
  font: 700 0.75rem/2rem 'Montserrat', sans-serif;
  transition: all 0.2s;
  padding: 1.125rem 1.5rem 1.125rem 2rem;
  .navbarBrand {
    &.logoImage img {
      //width: 113px;
      height: 38px;
      margin-bottom: 1px;
      -webkit-backface-visibility: hidden;
    }

    &.logoText {
      font: 700 2rem/1.5rem 'Montserrat', sans-serif;
      color: #fff;
      letter-spacing: -0.5px;
      text-decoration: none;
    }
  }
}

@media (max-width: 768px) {
  .navbarCustom {
    padding: 1.125rem 1rem 1.125rem 1rem;
    box-shadow: none;
    .navbarBrand.logoText {
      color: #fff;
    }
  }
}
