.pricing {
  text-align: center;
  padding: 4rem 0;
  background: #2f2c3d;
  h4 {
  }
  .pricingWrapper {
    margin-top: 30px;
  }
  .flexWrapper {
    //display: flex;
    //justify-content: space-around;
    margin-top: 70px;
  }
  .tableWrapper {
    table {
      width:40%;
      margin: 0 auto;
      tr {
        td {
          padding: 10px;
        }
      }
    }
    table,
    tr,
    td {
      border: 1px solid;
    }
  }
}
@media (max-width: 768px) {
  .pricing {
    .tableWrapper {
      margin: 30px 0 30px 0;
      table {
        width: 100%;
        margin: 0 auto;
        tr {
          td {
            padding: 5px;
          }
        }
      }
    }
    .flexWrapper {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
    }
  }
}
