
@import "../../../assets/styles/colors.scss";
.header {
  background: linear-gradient(
      to bottom right,
      rgba(72, 72, 212, 0),
      rgba(241, 104, 104, 0)
    ),
    url('../../images/tweenkraft/header-background.jpg') center center no-repeat;
  background-size: cover;

  .headerContent {
    padding-top: 8.5rem;
    padding-bottom: 7rem;
    text-align: center;
  }

  .textContainer {
    margin-bottom: 3rem;
  }

  .h1 {
    margin-bottom: 1rem;
    font: 700 2rem/2.75rem "Montserrat", sans-serif;
  }

  .jsRotating {
    color: #40e0ee;
  }

  .pLarge {
    margin-bottom: 2rem;
  }

  .btnSolidLg {
    margin-right: 0.5rem;
    margin-bottom: 1.25rem;
  }
}

@media (min-width: 768px) {
  .header .headerContent {
    padding-top: 11rem;
  }
}

@media (min-width: 992px) {
  .header {
    .headerContent {
      padding-top: 13rem;
      padding-bottom: 10rem;
      text-align: left;
    }

    .textContainer {
      margin-top: 6.5rem;
    }
  }
}

@media (min-width: 1200px) {
  .header {
    .textContainer {
      margin-top: 0rem;
      margin-left: 0rem;
    }

    .imageContainer {
      margin-left: 3rem;
    }
  }
}
