.basic4 {
    padding-top: 6.5rem;
    padding-bottom: 6.75rem;
    background: url('../../images/tweenkraft/download-background.jpg') center center no-repeat;
    background-size: cover;
  
    .textContainer {
      margin-bottom: 3.5rem;
      text-align: center;
    }
  
    h2 {
      margin-bottom: 1.25rem;
    }
  
    .pLarge {
      margin-bottom: 1.75rem;
    }
  
    .btnSolidLg {
      margin-right: 0.5rem;
      margin-bottom: 1.25rem;
    }
  }

  @media (min-width: 992px) {
    .basic4 {
      padding-top: 6.75rem;
  
      .textContainer {
        margin-top: 7rem;
        margin-bottom: 0;
        text-align: left;
      }
    }
  }

  @media (min-width: 1200px) {
    .basic4 {
      .textContainer {
        margin-top: 11rem;
      }
  
      .imageContainer {
        margin-left: 3rem;
      }
    }
  
  }